header{
    background-color: #BFF0F5;
    padding: auto;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
color: #157D88;
}
h3{
    color:#1CA6B6 ;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: #FBF8CC;
    color:#1759B5 ;
    padding: 20px;
    line-height: 1.5;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #D0A5C8;
    padding: 10px;
}

.weekly-scedule, .Resources{
    background-color: #F9E4F5;
    border: 2px solid #A8709E;
    padding: 20px;
    text-align: center;
}



nav ul li{
    text-align: center;
    display: inline;
}
nav a{
    display: inline;
    margin: 0 20px;
}

section{
    border: 2px solid #A8709E;
    padding: 15px;
    margin: 20px 0;
    background: #F9E4F5;
}

h2{
    color: #2A547B ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.gallery {
    border: 2px solid #A8709E; 
    border-radius: 10px;
    padding: 15px;
    background-color: #F9E4F5;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0; 
}

.gallery img{
    width:150px;
    height: auto;
    border: 2px solid #A8709E; 
    
}


#teacher {
    margin: 20px 0; 


.teacher-profiles {
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap; 


.teacher-profile {
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 10px;
    padding: 15px;
    background-color: #BEACBA; 
    margin: 10px;
    max-width: 4000px; 
}



.teacher-info {
    text-align: center; 
}


.footer{
    text-align: center;
    margin-top: 1rem;
    padding: auto;
    background-color:#A3C4F3;
}
footer ul{
    padding: 0;
    text-align: center;
}
footer ul li{
    display: inline;
    margin-right: 1rem;
    text-align: center;
    
}

#footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #A3C4F3;
    padding: 10px;
}


@media (max-width: 600px) {
    .teacher-profiles {
        flex-direction: column; 
        align-items: center; 
    }

    .teacher-profile {
        grid-template-columns: auto; 
    }

    .grid-container{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: auto;
    }
}